<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page with Username and Password Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="../../styles/webpage/password_reset_confirm.css">

  <style>
    .eye-icon {
      cursor: pointer;
    }
  </style>
</head>

<body class="align">
  <div class="grid">
    <form action="https://httpbin.org/post" method="POST" class="form login">
      <h1 class="logintxt">Password Reset</h1>
      <div class="form__field">
        <label for="login__password1">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock" fill="#ffe66b"></use>
          </svg>
          <span class="hidden">Password</span>
        </label>
        <div class="password-wrapper">
          <input id="login__password1" type="password" name="password" class="form__input"
            placeholder="Enter New Password" required>
          <span class="material-symbols-outlined eye-icon" onclick="togglePasswordVisibility('login__password1', this)">
            visibility
          </span>
        </div>
      </div>

      <div class="form__field">
        <label for="login__password2"><svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock" fill="#ffe66b"></use>
          </svg><span class="hidden">Password</span></label>
        <input id="login__password2" type="password" name="password" class="form__input" placeholder="Confirm Password"
          required>
        <span class="material-symbols-outlined eye-icon" onclick="togglePasswordVisibility('login__password2', this)">
          visibility
        </span>
      </div>
      <div class="form__field">
        <input class="button-17" style="color: #ffe66b; background-color: #18181b" type="submit" value="RESET PASSWORD">
      </div>

    </form>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="icons">
    <symbol id="lock" viewBox="0 0 1792 1792">
      <path
        d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z" />
    </symbol>
    <symbol id="hidden" viewBox="0 0 24 24">
      <path
        d="M12 5.5c-3 0-5.8 1.4-7.6 3.8l1.4 1.4C7 8.3 9.4 7 12 7s5 1.3 6.2 3.7l1.4-1.4C17.8 6.9 15 5.5 12 5.5zM12 10c-1.7 0-3 1.3-3 3s1.3 3 3 3 3-1.3 3-3-1.3-3-3-3z" />
      <path fill="none" d="M0 0h24v24H0z" />
    </symbol>

  </svg>

  <script>
    function togglePasswordVisibility(passwordId, icon) {
      const passwordField = document.getElementById(passwordId);
      if (passwordField.type === 'password') {
        passwordField.type = 'text';
        icon.textContent = 'visibility_off';
      } else {
        passwordField.type = 'password';
        icon.textContent = 'visibility';
      }
    }
  </script>
</body>

</html>