<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/x-icon" href="../../assets/download.png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../styles/webpage/password_reset_sent.css" />
  <title>Password Reset</title>
</head>

<body>
  <div id="heading">
    <span id="th1">BitSafe</span>
  </div>
  <div class="body" id="msg">
    <h1>Password Reset Link Sent</h1>
    <img src="../../assets/download.png" height="px" width="128px" alt="Email Icon" />
    <p>
      We have sent a password reset link to your email address. Please check
      your email and follow the instructions to reset your password.
    </p>
    <p style="margin-top: 0.5%">
      If you don't receive an email within the next few minutes, please check
      your spam or junk folder.
    </p>
    <a href="#">Incorrect email? Change Email</a><br />
    <a href="#">Return to Signin</a>
  </div>
</body>

</html>