<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="../../styles/webpage/password_reset_done.css">

</head>

<body>
    <div id="msg" class="body">
        <h1>Password Reset Complete</h1>
        <img src="reset-password-icon-2048x2043-kt1r8qm5.png" width="80" height="80" alt="" />
        <p>Your password has been set. You may go ahead and sign in now.</p>
        <a href="#">Sign in</a>
    </div>
</body>

</html>