<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signing In Bubbling</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../styles/popup/signintxt.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>

  <body>
    <div class="popup">
      <div class="header">
        <h1>Bitsafe</h1>
        <span class="domain-name">Domain name</span>
      </div>
      <div class="content">
        <div class="signing-in">
          <h2 style="color: white; text-align: center">
            Signing you in
            <div class="dot-elastic"></div>
          </h2>
        </div>
      </div>
    </div>
  </body>
</html>
