@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.safe-heading {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #ffe66b;
    font-size: 35px;
    font-family: "Silkscreen", sans-serif;
}


.grid {
    width: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.icons {
    display: none;
}

.icon {
    display: inline-block;
    fill: #606468;
    font-size: 16px;
    font-size: 1rem;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}

body {
    background-color: #111;
    color: #606468;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

a {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

input[type='submit'] {
    margin-top: 10%;
    cursor: pointer;
    background-color: #18181b;
    color: #ffe66b;
    font-family: "Silkscreen", sans-serif;
}

.logintxt {
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
    margin-bottom: 10%;
    color: #ffe66b;
}

.form input[type='email'] {
    width: 100%;
}

.form input[type='submit'] {
    width: 80%;
    margin-left: 10%;
}

.form__field {
    display: flex;
    margin: 14px;
}

.form__input {
    flex: 1;
}

.forgot-password {
    color: #eee;
}

.forgot-password label,
.forgot-password input[type='email'],
.forgot-password input[type='submit'] {
    border-radius: 0.25rem;
    padding: 16px;
}

.forgot-password label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.forgot-password input[type='email'] {
    background-color: #3b4148;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.forgot-password input[type='email']:focus,
.forgot-password input[type='email']:hover {
    background-color: #434a52;
}

.forgot-password input[type='submit'] {
    background-color: #18181b;
    font-weight: 700;
    text-transform: uppercase;
}

.forgot-password input[type='submit']:focus,
.forgot-password input[type='submit']:hover {
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    background-color: #18181b;
    color: #ffe66b;
    border: 2px solid #ffe66b;
}

p {
    margin-bottom: 24px;
    margin-top: 24px;
}