@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.modal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transform: scale(1.25);
}

.hidden-button {
    display: none;
}

.popup-container {
    width: 400px;
    transform: scale(1.05);
    background-color: #000000;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffe66b;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.save-button {
    font-family: 'Silkscreen', sans-serif;
}

.cancel-button {
    font-family: 'Silkscreen', sans-serif;
}

.form {
    max-width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    color: #ffe66b;
    font-family: 'Silkscreen', sans-serif;
    font-size: medium;
}

input#domain[type="text"],
input#username[type="text"],
input#passwordField[type="password"],
input#sync[type="checkbox"],
input#passwordField[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 3px;
    background-color: #555;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#customText {
    flex: 1;
    padding: 8px;
    border-radius: 3px;
    background-color: #555;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.modal-box input[type="text"] {
    width: 190px;
    box-sizing: border-box;
    background-color: #555;
}

input#passwordField[type="password"] {
    width: 169px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.save-button,
.cancel-button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #4caf50;
}

.password-container .eye-closed {
    display: inline;
}

.password-container .eye-open {
    display: none;
}

.password-container.show-password .eye-closed {
    display: none;
}

.password-container.show-password .eye-open {
    display: inline;
}

h2 {
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
}

.password-container {
    position: relative;
    display: flex;
}

.password-container .material-symbols-outlined {
    top: 60%;
    margin-left: -26px;
    transform: translateY(21%);
    cursor: pointer;
}

.toggler-wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper.style-7 input[type="checkbox"]:checked+.toggler-slider {
    background-color: #555;
}

.toggler-wrapper.style-7 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
    background-color: #44cc66;
}

.toggler-wrapper.style-7 .toggler-slider {
    background-color: #555;
    -webkit-box-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);
    box-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

.toggler-wrapper.style-7 .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 5px;
    left: 3px;
    top: 3px;
    background-color: #e6e6e6;
}

.search-container {
    position: relative;
    margin-top: 0.85%;
    margin-left: 1.5%;
    width: 72%;
    height: 30px;
    border-radius: 30px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.pre-hover-placeholder {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Silkscreen', sans-serif;
    font-size: 16px;
    color: #ffe66b;
    pointer-events: none;
}

.search-container .pre-hover-placeholder {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.search-container:hover>.pre-hover-placeholder {
    display: none;
}

.search-container .search-input::placeholder {
    font-family: 'Silkscreen', sans-serif;
    position: relative;
    margin-top: 3px;
    color: #ffe66b;
    left: 42%;
}

.search-container:hover>.search-input {
    width: 100%;
}

.search-container .search-input {
    font-family: 'Silkscreen', sans-serif;
    background: transparent;
    position: relative;
    top: -2px;
    color: #ffe66b;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
}

body {
    background-color: #111;
    color: white;
}

.Header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 86%;
    height: 12%;
}

.Header img {
    position: relative;
    top: 4%;
    left: 0.25%;
}

.Header p {
    position: relative;
    left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
}

.Menu.hidden {
    width: 0;
    overflow: hidden;
}

.Menu {
    display: flex;
    position: fixed;
    background-color: #18181b;
    top: 12%;
    left: 0%;
    height: 88%;
    width: 20%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffe66b;
}

.Menu h2 {
    position: absolute;
    height: 4%;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.NavBar {
    position: absolute;
    top: 1.1%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.NavBar a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-family: 'Opensans', sans-serif;
    color: #ffe66b;
    text-align: center;
}

.NavBar a:active {
    background-color: #aaa;
}

.NavBar a:hover {
    background-color: #aaa;
}

.logout {
    position: absolute;
    top: 92%;
    left: 0%;
    width: 100%;
    height: 8%;
    font-family: 'Roboto Mono', monospace;
    color: #ffe66b;
}

.logout a {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 45%;
    top: 25%;
    font-size: x-large;
    text-decoration: none;
    color: #ffe66b;
}

.logout svg {
    position: absolute;
    top: 20%;
    left: 30%;
}

.Main {
    display: flex;
    position: fixed;
    top: 20%;
    left: 20%;
    height: 92%;
    width: 80%;
    transition: width 0.3s ease, left 0.3s ease;
}

.Main.full-width {
    width: 100%;
    left: 0;
}

.Arrow {
    background-color: #111;
    color: white;
    border: none;
    font-size: x-large;
    cursor: pointer;
    padding-bottom: 20%;
}

#Filter {
    margin-left: 1%;
    margin-top: 0.95%;
    cursor: pointer;
    font-size: 20px;
}

.FilterOptions {
    display: none;
    transition: all 0.5s ease-in-out;
    background-color: black;
}

.FilterOptions.show {
    animation: slideIn 0.5s forwards;
    position: absolute;
    display: flex;
    top: -13.2%;
    left: 2%;
    width: 98.5%;
    height: 94.5%;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    color: white;
}

.FilterOptions button {
    height: 7%;
    cursor: pointer;
    background-color: black;
    color: #ffe66b;
    border: none;
    font-size: large;
    font-family: 'Silkscreen', sans-serif;
}

#close {
    position: absolute;
    top: 14.5%;
    left: 96%;
}

.FilterOptions button.active {
    background-color: black;
    color: white;
}

.filterDiv {
    display: flex;
    background-color: #272727;
    color: #FBFBFB;
    font-family: "Opensans", sans-serif;
    border: 1px solid black;
    cursor: pointer;
    height: 8%;
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    transition: left 0.3s ease;
    border-radius: 12px;
}

.filterDiv.full-width {
    width: 100%;
}

.filterDiv.partial-width {
    width: 95%;
    position: relative;
    left: 5%;
}

.filterDiv::after {
    content: "\1433";
    position: absolute;
    left: 95%;
    font-size: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.altContent.filterDiv::after {
    content: "\142F";
}

.UsrnmeNPasswrds {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 75.5%;
    overflow: auto;
}

.UsrnmeNPasswrds.partial-height {
    height: 68%;
}

.content {
    display: none;
    flex-direction: row;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    color: #FBFBFB;
}

.content.visible {
    display: flex;
}

.content p {
    padding: 0 2% 2.2%;
}

.button {
    align-items: center;
    height: 4%;
    margin-left: 1%;
    margin-top: 0.65%;
    appearance: none;
    background-color: #18181b;
    border-radius: 24px;
    border-style: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    color: #ffe66b;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Silkscreen", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    padding: 1.75%;
}

.Deletebuttons {
    position: absolute;
    left: 80.5%;
    top: 79%;
    height: 4%;
    display: none;
}

.Deletebuttons.not-hidden {
    display: flex;
}

.passwords {
    border: none;
    background-color: #111;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-right: 2%;
    text-overflow: ellipsis;
}

.eyeicon {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.usrnme {
    width: 18%;
    font-family: 'Open Sans', sans-serif;
}

.ctgry {
    margin-left: 10%;
    width: 10%;
    font-family: 'Open Sans', sans-serif;
}

.tag {
    position: relative;
    left: 4%;
    width: 40px;
    font-family: 'Open Sans', sans-serif;
}

#editbtn {
    position: absolute;
    top: 14.8%;
    left: 95%;
    font-size: 28px;
}

.color-box {
    width: 16px;
    height: 16px;
    background-color: blue;
    position: absolute;
    right: 10.6%;
    margin-top: 0.6%;
    border-radius: 50%;
}

.color-boxes {
    width: 16px;
    height: 16px;
    position: relative;
    left: 12.25%;
    margin-top: 1.7%;
    border-radius: 50%;
}

.heading {
    position: fixed;
    top: 8.7%;
    left: 22%;
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
    font-size: 24px;
    transition: left 0.3s ease;
}

.tooltiptext {
    visibility: hidden;
}

.color-boxes:hover .tooltiptext {
    visibility: visible;
    position: absolute;
    z-index: 1;
    left: -500%;
    font-size: 15px;
}

.color-box:hover .tooltiptext {
    visibility: visible;
    position: absolute;
    z-index: 1;
    left: -500%;
    height: 2%;
    font-size: 15px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.FilterOptions.hide {
    display: flex;
    animation: slideOut 0.5s forwards;
}

.editbtn {
    display: flex;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    left: 20%;
    cursor: pointer;
}

.editbtn.not-available {
    display: none;
}

.accnt {
    display: none;
}

.buttonDel {
    margin-right: 15px;
    align-items: center;
    appearance: none;
    background-color: #18181b;
    border-radius: 24px;
    border-style: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    color: #ffe66b;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Silkscreen", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    will-change: transform, opacity;
    z-index: 0;
}

.buttonCanc {
    margin-right: 15px;
    align-items: center;
    appearance: none;
    background-color: #18181b;
    border-radius: 24px;
    border-style: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    color: #ffe66b;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Silkscreen", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    will-change: transform, opacity;
    z-index: 0;
    padding: 1.75%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.checkbox.style-d {
    display: none;
    position: relative;
    padding-left: 30px;
    top: 5.75%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox.style-d input {
    position: absolute;
    margin-top: 5%;
    left: 1%;
    cursor: pointer;
}

.checkbox.style-d input:checked~.checkbox__checkmark {
    background-color: #ffe66b;
}

.checkbox.style-d input:checked~.checkbox__checkmark:after {
    opacity: 1;
}

.checkbox.style-d:hover input~.checkbox__checkmark {
    background-color: #eee;
}

.checkbox.style-d:hover input:checked~.checkbox__checkmark {
    background-color: #ffe66b;
}

.checkbox.style-d .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 11px;
}

.checkbox.style-d .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 3.5px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox.style-d.available {
    display: block;
}

.checkbox1.style-d1 {
    display: none;
    position: relative;
    margin-left: 5%;
    margin-top: 1.4%;
    width: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox1.style-d1 input {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    cursor: pointer;
    display: none;
}

.checkbox1.style-d1 input:checked~.checkbox__checkmark {
    background-color: #ffe66b;
}

.checkbox1.style-d1 input:checked~.checkbox__checkmark:after {
    opacity: 1;
}

.checkbox1.style-d1:hover input~.checkbox__checkmark {
    background-color: #eee;
}

.checkbox1.style-d1:hover input:checked~.checkbox__checkmark {
    background-color: #ffe66b;
}

.checkbox1.style-d1 .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 11px;
}

.checkbox1.style-d1 .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 3.5px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox1.style-d1.available {
    display: block;
}

.addcred {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transform: scale(1.25);
}

input#domain1[type="text"],
input#username1[type="text"],
input#passwordField1[type="password"],
input#sync1[type="checkbox"],
input#passwordField1[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 3px;
    background-color: #555;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

input#passwordField1[type="password"] {
    width: 169px;
}

#customText1 {
    flex: 1;
    padding: 8px;
    border-radius: 3px;
    background-color: #555;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}