@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #111;
    color: white;
}

.Header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 86%;
    height: 12%;
}

.Header img {
    position: relative;
    top: 4%;
    left: 0.25%;
}

.Header p {
    position: relative;
    left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
}

.heading {
    position: fixed;
    top: 8.7%;
    left: 22%;
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
    font-size: 24px;
    transition: left 0.3s ease;
}

.Menu.hidden {
    width: 0;
    overflow: hidden;
}

.Menu {
    display: flex;
    position: fixed;
    background-color: #18181b;
    top: 12%;
    left: 0%;
    height: 88%;
    width: 20%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffe66b;
}


.Menu h2 {
    position: absolute;
    height: 4%;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.NavBar {
    position: absolute;
    top: 1.1%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.NavBar a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-family: 'Opensans', sans-serif;
    color: #ffe66b;
}

.NavBar a:active {
    background-color: #aaa;
}

.NavBar a:hover {
    background-color: #aaa;
}


.logout {
    position: absolute;
    top: 92%;
    left: 0%;
    width: 100%;
    height: 8%;
    font-family: 'Roboto Mono', monospace;
    color: #ffe66b;
}

.logout a {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 45%;
    top: 25%;
    font-size: x-large;
    text-decoration: none;
    color: #ffe66b;
}

.logout svg {
    position: absolute;
    top: 20%;
    left: 30%;
}

.Main {
    display: flex;
    position: fixed;
    top: 20%;
    left: 20%;
    height: 92%;
    width: 80%;
    transition: width 0.3s ease, left 0.3s ease;
}

.Main.full-width {
    width: 100%;
    left: 0;
}

.Arrow {
    background-color: #111;
    color: white;
    border: none;
    font-size: x-large;
    cursor: pointer;
    padding-bottom: 20%;
}

.FilterArea {
    width: 24%;
    position: absolute;
    left: 76%;
    height: 87%;
}

.FilterArea h2 {
    position: absolute;
    left: 5%;
}

.nofctions {
    width: 74%;
    height: 86%;
    overflow: auto;
}

.ntfcation {
    width: 95%;
    height: 40%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 20px;
}

.ntfcation.notvisible {
    display: none;
}

.ntfcation.notshow {
    display: none;
}

.ntfcation.notavailable {
    display: none;
}

.dttm {
    position: relative;
    top: 0%;
    width: 100%;
    height: 18%;
}

.message {
    position: relative;
    top: 2%;
    left: 3%;
    width: 97%;
    height: 79%;
    font-size: 20px;
}

.message a {
    text-decoration: none;
    color: white;
}

.message p {
    font-family: 'Open Sans', sans-serif;
    /* padding-bottom: 2%;*/
}

input[type="date"] {
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #111;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.dttm p {
    font-family: "Silkscreen", sans-serif;
    padding-left: 2.5%;
    margin-top: 2.75%;
    width: 30%;
}

.severity {
    position: absolute;
    left: 90%;
    top: 0%;
    width: 10%;
    height: 100%;
    color: red;
    font-family: 'Silkscreen', sans-serif;
}

.severity1 {
    position: absolute;
    left: 90%;
    top: 0%;
    width: 10%;
    height: 100%;
    color: #555;
    font-family: 'Silkscreen', sans-serif;
}

.FilterDate {
    position: absolute;
    top: 8%;
    left: 5%;
    width: 75%;
}

.FilterAction {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.FilterAction button {
    background-color: #111;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.FilterAction button:hover {
    background-color: #aaa;
}

.FilterSeverity {
    position: absolute;
    top: 53.25%;
    left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.FilterSeverity button {
    background-color: #111;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.FilterSeverity button:hover {
    background-color: #aaa;
}

.accnt {
    display: none;
}

.clrfltr {
    position: relative;
    top: 80%;
    margin-left: 33%;
    align-items: center;
    appearance: none;
    background-color: #18181b;
    border-radius: 24px;
    border-style: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    color: #ffe66b;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Silkscreen", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    will-change: transform, opacity;
    z-index: 0;
    padding: 1.75%;
}




::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.FilterArea h2,
h3 {
    color: #ffe66b;
    font-family: 'Silkscreen', sans-serif;
}

.FilterArea label {
    color: #ffe66b;
}