@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.modal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transform: scale(1.25);
}

.hidden-button {
    display: none;
}

.popup-container {
    width: 400px;
    transform: scale(1.05);
    background-color: #000000;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.save-button {
    font-family: 'Silkscreen', sans-serif;
}

.cancel-button {
    font-family: 'Silkscreen', sans-serif;
}

.form {
    max-width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    color: #4caf50;
    font-family: 'Silkscreen', sans-serif;
    font-size: medium;
}

input#domain[type="text"],
input#username[type="text"],
input#passwordField[type="password"],
input#sync[type="checkbox"],
input#device[type="checkbox"],
input#customText[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 3px;
    background-color: #555;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

input#passwordField[type="password"] {
    width: 169px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.save-button,
.cancel-button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #4caf50;
    background-color: #555;
}

h2 {
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
}

.password-container {
    position: relative;
    display: flex;
}

.password-container .material-symbols-outlined {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.toggler-wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}


.toggler-wrapper.style-7 input[type="checkbox"]:checked+.toggler-slider {
    background-color: #555;
}

.toggler-wrapper.style-7 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
    background-color: #44cc66;
}

.toggler-wrapper.style-7 .toggler-slider {
    background-color: #555;
    -webkit-box-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);
    box-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

.toggler-wrapper.style-7 .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 5px;
    left: 3px;
    top: 3px;
    background-color: #e6e6e6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    background-color: #111;
    color: white;
}

.Header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 86%;
    height: 12%;
}

.Header img {
    position: relative;
    top: 4%;
    left: 0.25%;
}

.Header p {
    position: relative;
    left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
}

.Menu.hidden {
    width: 0;
    overflow: hidden;
}

.Menu {
    display: flex;
    position: fixed;
    background-color: #18181b;
    top: 12%;
    left: 0%;
    height: 88%;
    width: 20%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffe66b;
}

.Menu h2 {
    position: absolute;
    height: 4%;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.NavBar {
    position: absolute;
    top: 1.1%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.NavBar a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-family: 'Opensans', sans-serif;
    color: #ffe66b;
}

.NavBar a:active {
    background-color: #aaa;
}

.NavBar a:hover {
    background-color: #aaa;
}

.logout {
    position: absolute;
    top: 92%;
    left: 0%;
    width: 100%;
    height: 8%;
    font-family: 'Roboto Mono', monospace;
    color: #ffe66b;
}

.logout a {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 45%;
    top: 25%;
    font-size: x-large;
    text-decoration: none;
    color: #ffe66b;
}

.logout svg {
    position: absolute;
    top: 20%;
    left: 30%;
}

.Main {
    display: flex;
    position: fixed;
    top: 20%;
    left: 20%;
    height: 92%;
    width: 80%;
    transition: width 0.3s ease, left 0.3s ease;
}

.Main.full-width {
    width: 100%;
    left: 0;
}

.Arrow {
    background-color: #111;
    color: white;
    border: none;
    font-size: x-large;
    cursor: pointer;
    padding-bottom: 20%;
}

.Insidenote {
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
}

.Insideusage {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.filterDiv.full-width {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.filterDiv {
    position: relative;
    display: flex;
    background-color: #18181b;
    color: #FBFBFB;
    border: 1px solid #111;
    cursor: pointer;
    height: 26%;
    font-size: 150%;
    padding-bottom: 5%;
    padding-left: 2%;
    transition: left 0.3s ease;
    border-radius: 20px;
}

.filterDiv.partial-width {
    width: 95%;
    position: relative;
    left: 5%;
}

.filterDiv::after {
    content: "\1433";
    position: fixed;
    left: 91.5%;
    font-size: 80%;
    margin-top: 4%;
}

.altContent.filterDiv::after {
    content: "\142F";
}

.UsrnmeNPasswrds {
    position: absolute;
    left: 3%;
    width: 95%;
    height: 75.5%;
    overflow: auto;
}

.content {
    display: none;
    flex-direction: row;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}

.content.visible {
    display: flex;
}

.content p {
    padding: 0 2% 2.2%;
}

.button {
    height: 4%;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 120%;
}

.actionRequired {
    color: red;
    font-family: "Silkscreen", sans-serif;
    text-align: left;
    position: fixed;
    font-weight: bold;
    left: 77%;
    margin-top: 3.8%;
    font-size: 19px;
}

#h1Insidenote {
    display: inline-block;
    font-family: "Silkscreen", sans-serif;
    color: #ffe66b;
}

.passwords {
    border: none;
    background-color: #111;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-right: 2%;
    text-overflow: ellipsis;
}

.eyeicon {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.usrnme {
    width: 18%;
    font-family: 'Open Sans', sans-serif;
}

.ctgry {
    margin-left: 10%;
    width: 10%;
    font-family: 'Open Sans', sans-serif;
}

.tag {
    position: relative;
    left: 7%;
    font-family: 'Open Sans', sans-serif;
}

#editbtn {
    position: absolute;
    top: 14.8%;
    left: 95%;
    font-size: 28px;
}

.color-box {
    width: 16px;
    height: 16px;
    background-color: blue;
    position: absolute;
    right: 10.6%;
    margin-top: 0.6%;
    border-radius: 50%;
}

.color-boxes {
    width: 16px;
    height: 16px;
    position: relative;
    left: 16.45%;
    margin-top: 1.7%;
    border-radius: 50%;
}

.heading {
    position: fixed;
    top: 8.7%;
    left: 22%;
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
    font-size: 24px;
    transition: left 0.3s ease;
}

.tooltiptext {
    visibility: hidden;
}

.color-boxes:hover .tooltiptext {
    visibility: visible;
    position: absolute;
    z-index: 1;
    left: -500%;
    font-size: 15px;
}

.color-box:hover .tooltiptext {
    visibility: visible;
    position: absolute;
    z-index: 1;
    left: -500%;
    height: 2%;
    font-size: 15px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.editbtn {
    display: flex;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    left: 22%;
    cursor: pointer;
}

.editbtn.not-available {
    display: none;
}

.accnt {
    display: none;
}