@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h2 {
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
}

body {
    background-color: #111;
    color: white;
}


.hidden-button {
    display: none;
}

.Header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 86%;
    height: 12%;
}

.Header img {
    position: relative;
    top: 4%;
    left: 0.25%;
}

.Header p {
    position: relative;
    left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
}

.Menu.hidden {
    width: 0;
    overflow: hidden;
}

.Menu {
    display: flex;
    position: fixed;
    background-color: #18181b;
    top: 12%;
    left: 0%;
    height: 88%;
    width: 20%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffe66b;
}


.Menu h2 {
    position: absolute;
    height: 4%;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.NavBar {
    position: absolute;
    top: 1.1%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.NavBar a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-family: 'Opensans', sans-serif;
    color: #ffe66b;
    text-align: center;
}

.NavBar a:active {
    background-color: #aaa;
}

.NavBar a:hover {
    background-color: #aaa;
}

.logout {
    position: absolute;
    top: 92%;
    left: 0%;
    width: 100%;
    height: 8%;
    font-family: 'Roboto Mono', monospace;
    color: #ffe66b;
}

.logout a {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 45%;
    top: 25%;
    font-size: x-large;
    text-decoration: none;
    color: #ffe66b;
}

.logout svg {
    position: absolute;
    top: 20%;
    left: 30%;
}

.Main {
    display: flex;
    position: fixed;
    top: 20%;
    left: 20%;
    height: 92%;
    width: 80%;
    transition: width 0.3s ease, left 0.3s ease;
}

.Main.full-width {
    width: 100%;
    left: 0;
}

.Arrow {
    background-color: #111;
    color: white;
    border: none;
    font-size: x-large;
    cursor: pointer;
    padding-bottom: 20%;
}

.heading {
    position: fixed;
    top: 8.7%;
    left: 22%;
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
    font-size: 24px;
    transition: left 0.3s ease;
}

.accnt {
    display: block;
}

.profile {
    height: 85%;
    width: 60%;
}

.settings {
    /* border: 1px solid white; */
    height: 60%;
    width: 40%;
    height: 75%;
    background-color: #272727;
    border-radius: 20px;
}

.profile h1 {
    text-align: center;
}

.userdetals td {
    padding: 1%;
    font-size: 25px;
    text-align: center;
    width: 500px;
}

.userdetals table {
    border-collapse: collapse;
}

.userdetals input {
    width: 350px;
    margin-bottom: 10.5px;
    background-color: #18181b;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 3%;
}

/* .updatebtn input {
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
} */

.settng {
    margin-left: 5px;
}

[welcome-name]:before {
    content: attr(welcome-name);
    display: inline-block;
    font-size: 1em;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    text-align: center;
    border-radius: 50%;
    background-color: #272727;
    vertical-align: middle;
    margin-right: 1em;
    color: #ffe66b;
    font-family: "Silkscreen", sans-serif;
}

h1[welcome-name="N"] {
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
}

.inputname {
    font-family: 'Silkscreen', sans-serif;
    color: #ffe66b;
}

.settng b {
    color: #ffe66b;
    font-family: 'Silkscreen', sans-serif;
    font-size: 18px;
}

.button {
    align-items: center;
    appearance: none;
    background-color: #18181b;
    border-radius: 24px;
    border-style: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    color: #ffe66b;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Silkscreen", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
    will-change: transform, opacity;
    z-index: 0;
    padding: 1.75%;
    margin-top: 5%;
    margin-left: 37%;
}

.checkbox.style-d {
    display: inline-block;
    position: absolute;
    padding-left: 30px;
    margin-top: 0.35%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox.style-d input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.style-d input:checked~.checkbox__checkmark {
    background-color: #f7cb15;
}

.checkbox.style-d input:checked~.checkbox__checkmark:after {
    opacity: 1;
}

.checkbox.style-d:hover input~.checkbox__checkmark {
    background-color: #eee;
}

.checkbox.style-d:hover input:checked~.checkbox__checkmark {
    background-color: #f7cb15;
}

.checkbox.style-d .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 11px;
}

.checkbox.style-d .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 3.5px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

#timer{
    display:none;
    background-color: #18181b;
    color:white;
    height:30px;
    border-radius:10px;
    padding:1%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}