@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.popup-container {
    width: 400px;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #ffe66b;
    border: 2px solid #111;
    transform: scale(1.05);
}

.logout-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.logout-button button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #111;
    color: #ffe66b;
    border: none;
    cursor: pointer;
    transition: color 0.3s, color 0.3s;
    font-family: 'Silkscreen', sans-serif;
}

.logout-button button:hover {
    background-color: #555;
    color: red;
}

#passwordGeneratorBtn {
    font-family: 'Silkscreen', sans-serif;
}

#welcome {
    font-family: 'Silkscreen', sans-serif;
}

#passgtxt {
    font-family: 'Silkscreen', sans-serif;
    font-size: 15px;
}

#signintxt {
    font-family: 'Silkscreen', sans-serif;
    font-size: 15px;
}

#welbelow {
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

#signInBtn {
    font-family: 'Silkscreen', sans-serif;
}

.popup-container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8%;
    margin-bottom: 8%;
}


.popup-container .navbar .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 4%;
}

.popup-container .navbar .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-container .navbar .title {
    margin: 0;
    color: #ffe66b;
    font-family: 'Silkscreen', sans-serif;
    font-size: 30px;
}


.popup-container .content {
    text-align: center;
    margin-top: -10%;
}

.popup-container .options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-container .option {
    padding: 10px;
    background-color: #111;
    border-radius: 5px;
    border: 1px solid #000;
    transition: background-color 0.3s ease;
}

.popup-container .option:hover {
    background-color: #222;
}

.popup-container .option h3 {
    margin-top: 0;
    color: #ffe66b;
}

.popup-container .option p {
    margin-bottom: 10px;
    color: #ccc;
}

.popup-container button {
    padding: 8px 16px;
    background-color: #ccc;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-container button:hover {
    background-color: #111;
    color: #ffe66b;
}

.popup-container a {
    color: #007bff;
    text-decoration: none;
}

.popup-container a:hover {
    text-decoration: underline;
}