{% extends "passManager/base.html" %}
{% load static %}
{% block title %}
  Change Password
{% endblock title %}
{% block script %}
  <link rel="stylesheet" href="{% static 'passManager/changePassword.css' %}" />
{% endblock script %}
{% block content %}
  <div class="heading">
    <h2>CHANGE PASSWORD</h2>
  </div>
  <div class="Main">
    <button class="Arrow">&#706;</button>
    <form method="post" action="http://127.0.0.1:8000/changepassword/">
      {% csrf_token %}
      <div class="psswrdcontainer">
        <div class="crrntpsswrd">
          <p>
            <span class="passhead">Enter Current Password:</span>
            <input type="password"
                   autocomplete="current-password"
                   name="currentpwd"
                   id="oldpwd"
                   style="margin-left: 2%;
                          padding: 1%"
                   class="passinpts" />
            <svg height="10%"
                 width="2.5%"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 class="eyeicon">
              <g stroke="#ffe66b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="m15.0007 12c0 1.6569-1.3431 3-3 3-1.6568 0-2.99997-1.3431-2.99997-3s1.34317-3 2.99997-3c1.6569 0 3 1.3431 3 3z" />
              <path d="m12.0012 5c-4.47766 0-8.26794 2.94288-9.54222 7 1.27426 4.0571 5.06456 7 9.54222 7 4.4776 0 8.2679-2.9429 9.5422-7-1.2743-4.05709-5.0646-7-9.5422-7z" />
              </g>
            </svg>
          </p>
        </div>
        <div class="newpsswrd">
          <p>
            <span class="passhead">Enter New Password:</span>
            <input autocomplete="new-password"
                   type="password"
                   name="newpwd"
                   style="margin-left: 6%;
                          padding: 1%"
                   id="input1"
                   class="passinpts" />
            <svg height="10%"
                 width="2.5%"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 class="eyeicon">
              <g stroke="#ffe66b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="m15.0007 12c0 1.6569-1.3431 3-3 3-1.6568 0-2.99997-1.3431-2.99997-3s1.34317-3 2.99997-3c1.6569 0 3 1.3431 3 3z" />
              <path d="m12.0012 5c-4.47766 0-8.26794 2.94288-9.54222 7 1.27426 4.0571 5.06456 7 9.54222 7 4.4776 0 8.2679-2.9429 9.5422-7-1.2743-4.05709-5.0646-7-9.5422-7z" />
              </g>
            </svg>
          </p>
          <p>
            <span class="passhead">Re-enter New Password:</span>
            <input autocomplete="new -password"
                   type="password"
                   name="confirmpwd"
                   style="margin-left: 1.75%;
                          padding: 1%"
                   class="passinpts" />
            <svg height="10%"
                 width="2.5%"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 class="eyeicon">
              <g stroke="#ffe66b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="m15.0007 12c0 1.6569-1.3431 3-3 3-1.6568 0-2.99997-1.3431-2.99997-3s1.34317-3 2.99997-3c1.6569 0 3 1.3431 3 3z" />
              <path d="m12.0012 5c-4.47766 0-8.26794 2.94288-9.54222 7 1.27426 4.0571 5.06456 7 9.54222 7 4.4776 0 8.2679-2.9429 9.5422-7-1.2743-4.05709-5.0646-7-9.5422-7z" />
              </g>
            </svg>
          </p>
          <span id="messages">
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  <span style="color: red">{{ message }}</span>
                {% elif message.tags == 'success' %}
                  <span style="color: green">{{ message }}</span>
                {% else %}
                  {{ message }}
                {% endif %}
              {% endfor %}
            {% endif %}
          </span>
          <div class="Updatebtns">
            <button class="button-17" role="button" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block fscript %}
  <script src="{% static 'passManager/changePassword.js' %}"></script>
{% endblock fscript %}
