{% extends 'passManager/base.html' %}
{% load static %}
{% block title %}
    Dark Web Monitoring
{% endblock title %}
{% block script %}
    <link rel="stylesheet"
          href="{% static 'passManager/darkwebMonitoring.css' %}" />
{% endblock script %}
{% block content %}
    <div class="heading">
        <h2>DARK WEB MONITORING</h2>
    </div>
    <div class="Main">
        <button class="Arrow">&#706;</button>
        <div class="search-container">
            <input type="text"
                   id="searchbar"
                   onkeyup="search_Domain()"
                   name="search"
                   placeholder="Search..."
                   class="search-input">
            <div class="pre-hover-placeholder">Search something</div>
        </div>
        <div class="drkwebntfcations">
            <h3 class="head">The following usernames have their passwords breached.</h3>
        </div>
    </div>
{% endblock content %}
{% block fscript %}
    <script src="{% static 'passManager/darkwebMonitoring.js' %}"></script>
{% endblock fscript %}
