{% extends 'passManager/base.html' %}
{% load static %}
{% block title %}
Devices
{% endblock %}
{% block script %}
<link rel="stylesheet" href="{% static 'passManager/devices.css' %}" />
{% endblock %}
{% block content %}
<div class="heading">
  <h2>DEVICES</h2>
</div>
<div class="Main">
  <button class="Arrow">&#706;</button>
  <table class="tbl">
    <tr>
      <th>Date and Time</th>
      <th>Browser</th>
      <th>OS</th>
      <th></th>
    </tr>
    {% for instance in activeLogin %}
    <tr>
      <td>{{ instance.loginTime }}</td>
      <td>
        {{ instance.browser }}
        {% if instance.type %}Extension{% endif %}
      </td>
      <td>{{ instance.os }}</td>
      <td>
        {% if not instance.type %}
        <form method="POST" action="{% url 'devices' %}">
          {% csrf_token %}
          <input type="hidden" name="uid" value="{{ instance.uid }}" />
          <button class="button" id="Selector" role="button" type="submit">Terminate</button>
        </form>
        {% else %}
        Please Logout from extension
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% block fscript %}
<script src="{% static 'passManager/devices.js' %}"></script>
{% endblock %}