{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Devices</title>
    <link rel="stylesheet" href="{% static 'passManager/devices.css'%}" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>

  <body>
    <div class="Header">
      <img src="#" height="80%" alt="B" />
      <p>BitSafe</p>
    </div>
    <div class="Menu">
      <div class="NavBar">
        <a href="#" style="padding-left: 29%">Dashboard</a>
        <a href="#" style="padding-left: 27%">Notifications</a>
        <a href="#" style="padding-left: 20%">Password usage</a>
        <a href="#" style="padding-left: 12%">Dark Web monitoring</a>
        <a href="#" style="padding-left: 13%">Password Generator</a>
        <a href="#" style="padding-left: 32%" id="Account">Account</a>
        <a href="#" style="padding-left: 34%; display: block" class="accnt"
          >Profile</a
        >
        <a href="#" style="padding-left: 14%; display: block" class="accnt"
          >Change Password</a
        >
        <a href="#" style="padding-left: 31%; display: block" class="accnt"
          >Devices</a
        >
      </div>
      <div class="logout">
        <svg
          class="svg-icon"
          style="height: 60%; fill: currentColor; overflow: hidden"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M835.669333 554.666667h-473.173333A42.453333 42.453333 0 0 1 320 512a42.666667 42.666667 0 0 1 42.474667-42.666667h473.173333l-161.813333-161.834666a42.666667 42.666667 0 0 1 60.330666-60.330667l234.666667 234.666667a42.666667 42.666667 0 0 1 0 60.330666l-234.666667 234.666667a42.666667 42.666667 0 0 1-60.330666-60.330667L835.669333 554.666667zM554.666667 42.666667a42.666667 42.666667 0 1 1 0 85.333333H149.525333C137.578667 128 128 137.578667 128 149.482667v725.034666C128 886.4 137.6 896 149.525333 896H554.666667a42.666667 42.666667 0 1 1 0 85.333333H149.525333A106.816 106.816 0 0 1 42.666667 874.517333V149.482667A106.773333 106.773333 0 0 1 149.525333 42.666667H554.666667z"
            fill=""
          />
        </svg>
        <a href="#">Logout</a>
      </div>
    </div>
    <div class="heading">
      <h2>DEVICES</h2>
    </div>
    <div class="Main">
      <button class="Arrow">&#706;</button>
      <table class="tbl">
        <tr>
          <th>Date and Time</th>
          <th>Browser</th>
          <th>OS</th>
          <th></th>
        </tr>
        <tr>
          <td>October 13,2020 05:30GMT</td>
          <td>Mozilla Firefox</td>
          <td>MacOS</td>
          <td>
            <button class="button" id="Selector" role="button">
              Terminate
            </button>
          </td>
        </tr>
        <tr>
          <td>October 13,2020 05:30GMT</td>
          <td>Mozilla Firefox</td>
          <td>MacOS</td>
          <td>
            <button class="button" id="Selector" role="button">
              Terminate
            </button>
          </td>
        </tr>
        <tr>
          <td>October 13,2020 05:30GMT</td>
          <td>Mozilla Firefox</td>
          <td>MacOS</td>
          <td>
            <button class="button" id="Selector" role="button">
              Terminate
            </button>
          </td>
        </tr>
      </table>
    </div>
    <script src="{% static 'passManager/devices.js'%}"></script>
  </body>
</html>
