{% extends "passManager/base.html" %}
{% load static %}
{% block title %}
Password Usage
{% endblock title %}
{% block script %}
<link rel="stylesheet" href="{% static 'passManager/passwordUsage.css' %}" />
{% endblock script %}
{% block content %}
<div class="heading">
  <h2>Password Usage</h2>
</div>
<div class="Main">
  <button class="Arrow">&#706;</button>
  <div class="UsrnmeNPasswrds">
  </div>
  <span class="overlay"></span>
  <div class="modal-box" style="display: none">
    <div class="popup-container">
      <p style="display: none" class="updateid">-1</p>
      <form class="form" action="#">
        {% csrf_token %}
        <h2>Edit Credentials</h2>
        <div class="form-group form-group-domain">
          <label for="domain">Domain:</label>
          <input type="text" id="domain" name="domain" value="example.com" disabled />
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" value="example@example" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <div class="password-container">
            <input type="password" id="passwordField" name="password" value="example@123" required maxlength="20" />
            <span class="material-symbols-outlined eye-icon eye-closed"
              id="togglePasswordVisibilityClosed">visibility</span>
            <span class="material-symbols-outlined eye-icon eye-open"
              id="togglePasswordVisibilityOpen">visibility_off</span>
          </div>
        </div>
        <div class="form-group">
          <label for="sync">Sync:</label>
          <label class="toggler-wrapper style-7" for="sync">
            <input type="checkbox" id="sync" name="sync" />
            <div class="toggler-slider">
              <div class="toggler-knob"></div>
            </div>
          </label>
        </div>
        <div class="form-group">
          <label for="customText">Custom:</label>
          <select id="customText" name="customText">
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="School">School</option>
            <option value="Others">Others</option>
          </select>
        </div>
        <div class="form-buttons">
          <button class="cancel-button" id="cancelButton">Cancel</button>
          <button class="save-button" id="updatebtn" type="submit" onclick="updatePassword(event)">Update</button>
        </div>
      </form>
    </div>
  </div>
  {% endblock content %}
  {% block fscript %}
  <script defer src="{% static 'passManager/passwordUsage.js'%}"></script>
  {% endblock fscript %}