@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 20px;
}

body {
    font-family: 'Silkscreen', sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
}

.popup {
    width: 400px;
    background-color: #111;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #ffe66b;
}

.domain-name {
    font-size: 14px;
    color: #999;
}

.dot-elastic {
    position: relative;
    margin-top: -4%;
    margin-left: 81.5%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(164, 255, 164);
    color: rgb(165, 255, 165);
    animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #4f4;
    color: #4f4;
    animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #4f4;
    color: #4f4;
    animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1.5);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dot-elastic {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 1.5);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dot-elastic-after {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}