@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

#msg {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#heading {
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 25px;
}

#th1 {
    margin-top: 5%;
    margin-left: 10px;
    font-size: 35px;
    font-family: "Silkscreen", sans-serif;
    color: white;
}

#th3 {
    width: 35px;
    height: 40px;
    margin-right: 2%;
}

.body {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    overflow: hidden;
}

body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
}


h1 {
    font-family: "Silkscreen", sans-serif;
    color: #ffffff;
    font-size: 30px;
}

p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

a {
    color: green;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}